langgraph
langgraph-cli[inmem]
langchain
langchain-groq
langchain_huggingface
langchain-astradb
langchain-pinecone
langchain-community
langchain-openai
langchain-experimental
langchain-tavily
langchain-chroma
langsmith
ipykernel
streamlit
langgraph-checkpoint-sqlite
duckduckgo-search
ddgs
fastmcp
langchain-mcp-adapters
pypdf
faiss-cpu
langgraph-checkpoint-postgres
psycopg[binary]